services:
  new_relic_metrics_exporter:
    environment:
      - VERSION=$VERSION
    build:
      context: .
      dockerfile: new_relic_metrics_exporter/Dockerfile
    image: ghcr.io/newrelic-experimental/gitlab-metrics-exporter:$VERSION
    platform: linux/amd64
  new_relic_exporter:
    environment:
      - VERSION=$VERSION
    build:
      context: .
      dockerfile: new_relic_exporter/Dockerfile
    image: ghcr.io/newrelic-experimental/gitlab-exporter:$VERSION
    platform: linux/amd64