name: build and push

on:
  release:
  workflow_dispatch:
  
jobs:
  login:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: docker.io
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build containers
      run:  export VERSION=${GITHUB_REF#refs/heads/}  && docker-compose build

    - name: Push containers
      run: export VERSION=${GITHUB_REF#refs/heads/} && docker-compose push
